{
    "singleQuote": true,
    "trailingComma": "all",
    "tabWidth": 4,
    "endOfLine": "auto",
    "overrides": [
        {
            "files": ["docs/**/*.y{aml,ml}"],
            "options": {
                "tabWidth": 2
            }
        }
    ]
}
